
<div class="jumbotron" style="">							
	 <div class="container" id="reg" style="max-width:850px;padding:0px 0px 0px;">
		
						<h3>Demographics												
							<button name="savebutton1" type="submit" style="margin-left:720px;margin-top:-50px" class="btn btn-primary">SAVE</button>
						</h3>
			
						<h4><strong>Basic Details</strong></h4>
						<div class="" style="max-width:800px;padding:60px 20px;border:1px solid brown;border-radius: 25px;">
							<div class="form-group">
								<label for="gender" class ="control-label col-sm-3">Gender</label>
								<div class="col-sm-4">
									<select class="selectpicker form-control" id="gender" name="gender">
										<option value="" selected disabled>Please select</option>
										<option value="Male">Male</option>
										<option value="Female">Female</option>
									</select>
								</div>
							</div>
			
			<tr> 
				<td bgcolor="#3498DB" align="right">Race <br> (per federal mandate)</td>
				<td>
					
                <div class="form-group">
								<div class="col-sm-4">
                    <label for="race" class ="control-label col-sm-3">Race</label>
					<select class="form-control selectpicker" ng-model="SelectedRace" ng-options="c.S_no as c.Categories for c in race.data"></select>
				
                    </div>
                    </div>
                    
							<div class="form-group">
								<label for="race" class ="control-label col-sm-3">Race</label>
								<div class="col-sm-4">
                                    <select class="form-control selectpicker" ng-model="SelectedRace" ng-options="c.S_no as c.Categories for c in race.data"></select>
								</div>
							</div>

                    
                    

				</td>
			</tr>
			
			<tr> 
				<td bgcolor="#3498DB" align="right">Ethnicity </td>
				<td>
					<select name="Ethnicity">
						
						<option value='Select' selected>Select</option>
						<option value="American">American</option>
						<option value="Indian">Indian</option>
					</select>
					
				</tr>
				
				
				<tr> 
					<td bgcolor="#3498DB" align="right">Prefered Language </td>
					<td>
						<select class="form-control" ng-model="SelectedLanguage" ng-options="c.S_no as c.Type for c in language.data"></select>
					</tr>
					
					
					
					
					
					
					<tr> 
						<td bgcolor="#3498DB" align="right">Home Phone </td>
						<td><input type="text" name="hphone"/>(Numbers only)
						</td>
					</tr>
					
					<tr> 
						<td bgcolor="#3498DB" align="right">Cell Phone </td>
						<td><input type="text" name="cphone"/>(Numbers only)
						</td>
					</tr>
					
					<tr> 
						<td bgcolor="#3498DB" align="right">Work Phone </td>
						<td><input type="text" name="wphone"/>(Numbers only)
						</td>
					</tr>
					
					<tr> 
						<td bgcolor="#3498DB" align="right">Email Address </td>
						<td><input type="email" name="eaddrs"/></td>
					</tr>
					
					<tr> 
						<td bgcolor="#3498DB" align="right">Direct Address </td>
						<td><input type="text" name="draddrs"/>
						</td>
					</tr>
         </div>

         
			<h4><strong>Physical Address</strong></h4>
     		<div class="" style="max-width:800px;padding:60px 20px;border:1px solid blue;border-radius: 25px;">

					<tr>
						<td>
								<tr>
									<td>Address 1</td> 
									<td><input type="text" require name="P_Address1" /></td>
								</tr>
								
								<tr>
									<td>Address 2</td> 
									<td><input type="text" name="P_Address2" /></td>		
								</tr>
								
								<tr>
									<td>City</td>
									<td><input type="text" name="P_City" /></td>
								</tr>
								
								<tr>
									<td>State</td> 
									<td>
										<select class="form-control" ng-model="SelectedState" ng-options="c.S_no as c.State for c in states.data"></select>
										
										
									</td>
								</tr>
								
								<tr>
									<td>ZipCode</td>	
									<td><input type="text" name="P_ZipCode" /></td>
								</tr>
						</td>
                  </tr>
         </div>
					
					
                  <h4><strong>Billing Address</strong></h4>
		          <div class="" style="max-width:800px;padding:60px 20px;border:1px solid blue;border-radius: 25px;">
						<td>
							<table>
							<div class="form-group">
								<div class="material-switch">
									<span class="control-label col-sm-3" style="margin-left:20px"><strong>Copy Physical Address</strong></span>
									<input id="checkbox1" name="copyaddrs" type="checkbox"/>
									<label for="checkbox1" class="label-info"></label>
								</div><br>
							</div>

								<tr>
									<td>Address 1</td> 
									<td><input type="text" name="B_Address1" /></td>
								</tr>
								
								<tr>
									<td>Address 2</td> 
									<td><input type="text" name="B_Address2" /></td>		
								</tr>
								
								<tr>
									<td>City</td>
									<td><input type="text" name="B_City" /></td>
								</tr>
								
								<tr>
									<td>State</td> 
									<td>
										
										<select class="form-control" ng-model="SelectedState" ng-options="c.S_no as c.State for c in states.data"></select>
										
									</td>
								</tr>
								
								<tr>
									<td>ZipCode</td>	
									<td><input type="text" name="B_ZipCode" /></td>
								</tr>
							</table>
						</td>
					</tr>
    </div>	
    
    
    						<h3>General</h3>
						<div class="" style="max-width:800px;padding:60px 20px;border:1px solid blue;border-radius: 25px;">

					<tr>
						<td bgcolor="#3498DB" align="right">Insurance</td>
						<td>
							<textarea rows="1" name="Insu" cols="50">
							</textarea></td>
					</tr>
					
					<tr>
						<td bgcolor="#3498DB" align="right">How didi you hear about us?</td>
						<td><select name="Hear" style="width:250px">
							<option value="hear" selected >Select</option>
							<option value="Socail Media">Socail Media</option>
							<option value="Newspaper">Newspaper</option>
							<option value="TV Adds">TV Adds</option>
							<option value="Friend">Friend</option>
							<option value="Other">Other</option>
						</select>
						</td>
					</tr>
					
					<tr>
						<td bgcolor="#3498DB" align="right">Referring Provider </td>
						<td>Name<br>
							<select name="Refrname" style="width:250px">
								<option value="Select" selected>Select</option>
								<option value="A">A</option>
								<option value="B">B</option>
								<option value="C">C</option>
							</select>
						</td>
					</tr>
    </div>	
		
    
						<h4><strong>Employer : </strong></h4>
						<div class="" style="max-width:800px;padding:60px 20px;border:1px solid blue;border-radius: 25px;">
						<td>
							<table>
								
								<tr>
									<td>Name</td> 
									<td><input type="text" name="Emp_Name" /></td>
								</tr>
								
								<tr>
									<td>Address 1</td> 
									<td><input type="text" name="Emp_Address1" /></td>
								</tr>
								
								<tr>
									<td>Address 2</td> 
									<td><input type="text" name="Emp_Address2" /></td>		
								</tr>
								
								<tr>
									<td>City</td>
									<td><input type="text" name="Emp_City" /></td>
								</tr>
								
								<tr>
									<td>State</td> 
									<td>
										
										<select class="form-control" ng-model="SelectedState" ng-options="c.S_no as c.State for c in states.data"></select>
									</td>
								</tr>
								
								<tr>
									<td>ZipCode</td>	
									<td><input type="text" name="Emp_ZipCode" /></td>
								</tr>
							</table>
						</td>
					</tr>
    </div>




						<h4><strong>Emergency Contact 1</strong></h4>
						<div class="" style="max-width:800px;padding:60px 20px;border:1px solid blue;border-radius: 25px;">
						<td>
							<table>
								<tr>
									<input type="checkbox" name="copyaddrs1" value="on" onclick="copyphysical(this.form)"> Copy Physical Address
								</tr>
								
								<tr>
									<td>Name</td>
									<td><input type="text" name="Emr1_Name" style="width: 250px"/></td>	
								</tr>
								
								<tr>
									<td>Address 1</td> 
									<td><input type="text" name="Emr1_Address1" /></td>
								</tr>
								
								<tr>
									<td>Address 2</td> 
									<td><input type="text" name="Emr1_Address2" /></td>		
								</tr>
								
								<tr>
									<td>City</td>
									<td><input type="text" name="Emr1_City" /></td>
								</tr>
								
								<tr>
									<td>State</td> 
									<td>
										
										<select class="form-control" ng-model="SelectedState" ng-options="c.S_no as c.State for c in states.data"></select>
										
									</td>
								</tr>
								
								<tr>
									<td>ZipCode</td>	
									<td><input type="text" name="Emr1_ZipCode" /></td>
								</tr>
								
								<tr>
									<td>Home Phone</td>
									<td><input type="text" name="Emr1_hphone"/> (Numbers only)</td>
									
									<tr>	
										<td>Cell Phone</td> 
										<td><input type="text" name="Emr1_cphone"/> (Numbers only)</td>
									</tr>	
									
									<tr>
										<td>Work Phone</td> 
										<td><input type="text" name="Emr1_wphone"/> (Numbers only)</td>
										
										<tr>
											<td>Relationship to Patient</td> 
											<td>
												
												<select class="form-control" ng-model="SelectedRelation" ng-options="c.S_no as c.Relationtype for c in relationship.data"></select>
											</td>
										</tr>
									</table>
								</td>
							</tr>
</div>


                        <h4><strong>Emergency Contact 2</strong></h4>
						<div class="" style="max-width:800px;padding:60px 20px;border:1px solid blue;border-radius: 25px;">
								<td>
									<table>
										<tr>
											<input type="checkbox" name="copyaddrs2" value="on" onclick="copyphysical(this.form)"> Copy Physical Address
										</tr>
										
										<tr>
											<td>Name</td>
											<td><input type="text" name="Emr2_Name" style="width: 250px"/></td>	
										</tr>
										
										<tr>
											<td>Address 1</td> 
											<td><input type="text" name="Emr2_Address1" /></td>
										</tr>
										
										<tr>
											<td>Address 2</td> 
											<td><input type="text" name="Emr2_Address2" /></td>		
										</tr>
										
										<tr>
											<td>City</td>
											<td><input type="text" name="Emr2_City" /></td>
										</tr>
										
										<tr>
											<td>State</td> 
											<td>
												
												<select class="form-control" ng-model="SelectedState" ng-options="c.S_no as c.State for c in states.data"></select>
												
											</td>
										</tr>
										
										<tr>
											<td>ZipCode</td>	
											<td><input type="text" name="Emr2_ZipCode" /></td>
										</tr>
										
										<tr>
											<td>Home Phone</td>
											<td><input type="text" name="Emr2_hphone"/> (Numbers only)</td>
											
											<tr>	
												<td>Cell Phone</td> 
												<td><input type="text" name="Emr2_cphone"/> (Numbers only)</td>
											</tr>	
											
											<tr>
												<td>Work Phone</td> 
												<td><input type="text" name="Emr2_wphone"/> (Numbers only)</td>
												
												<tr>
													<td>Relationship to Patient</td> 
													<td>
														
														<select class="form-control" ng-model="SelectedRelation" ng-options="c.S_no as c.Relationtype for c in relationship.data"></select>
														
														
													</td>
												</tr>
											</table>
										</td>
									</tr>
</div>


						<h4><strong>Emergency Contact 3</strong></h4>
						<div class="" style="max-width:800px;padding:60px 20px;border:1px solid blue;border-radius: 25px;">
										<td>
											<table>
												<tr>
													<input type="checkbox" name="copyaddrs3" value="on" onclick="copyphysical(this.form)"> Copy Physical Address
												</tr>
												
												<tr>
													<td>Name</td>
													<td><input type="text" name="Emr3_Name" style="width: 250px"/></td>	
												</tr>
												
												<tr>
													<td>Address 1</td> 
													<td><input type="text" name="Emr3_Address1" /></td>
												</tr>
												
												<tr>
													<td>Address 2</td> 
													<td><input type="text" name="Emr3_Address2" /></td>		
												</tr>
												
												<tr>
													<td>City</td>
													<td><input type="text" name="Emr3_City" /></td>
												</tr>
												
												<tr>
													<td>State</td>
													<td>
														
														<select class="form-control" ng-model="SelectedState" ng-options="c.S_no as c.State for c in states.data"></select>
													</td>
												</tr>
												
												<tr>
													<td>ZipCode</td>	
													<td><input type="text" name="Emr3_ZipCode" /></td>
												</tr>
												
												<tr>
													<td>Home Phone</td>
													<td><input type="text" name="Emr3_hphone"/> (Numbers only)</td>
													
													<tr>	
														<td>Cell Phone</td> 
														<td><input type="text" name="Emr3_cphone"/> (Numbers only)</td>
													</tr>	
													
													<tr>
														<td>Work Phone</td> 
														<td><input type="text" name="Emr3_wphone"/> (Numbers only)</td>
														
														<tr>
															<td>Relationship to Patient</td> 
															<td>
																
																<select class="form-control" ng-model="SelectedRelation" ng-options="c.S_no as c.Relationtype for c in relationship.data"></select>
																
															</td>
														</tr>
													</table>
												</td>
											</tr>
        </div>


						<div class="form-group" style="margin-top:50px">
							<div class="col-sm-offset-5 col-sm-8">
								<button type="submit" class="btn btn-primary btn-lg"> SAVE </button>
							</div>
                        </div>							
											
										</table>
										
    </div>
</div>
										
																		